*{
    outline: 1px dotted rebeccapurple;
    margin: 0;
    padding: 0;
}

.container{
    width: 950px;
    min-height: 500px;
    background: linear-gradient( #f1f1f1, white, #f1f1f1);
}

.header{
    width: 100%;
    min-height: 50px;
    color: black;
}

h1{
    display: inline-block;
    margin-top: 15px;
    margin-left: 25px;
    margin-bottom: 15px;
    padding: 10px;
}

.portTitle{
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 10px;
    margin-left: 400px;
    font-size: 20px;
    font-weight: bold;
}

.wrapper{  
    width: 100%;
    min-height: 300px;
    background: radial-gradient(#8c7c84,#6f5964,#4b3840 70%);
}

.top{
    width: 100%;
    min-height: 200px;
    padding: 20px 25px;
}

.proPic{
    display:inline-block;
    height: 247px;
    width: 380px;
    border: 5px solid #c0c0c0;
    vertical-align: top;
}

.topBox{
    height: 260px;
    width: 465px;
    display: inline-block;
    margin-left: 25px;
}

h2{  /*multiple h2 tags, will try to use only one class to min. code*/
    background: linear-gradient(#b3b3b6, #888694, #b3b3b6);
    color: #fffff9;
    display: inline-block;
    width: 100%;
    padding: 8px;
    font-size: 22px;
}

p{
    background: linear-gradient(to right,white,#dacbd9);
    display: inline-block;
    width: 100%;
    padding: 8px;
}

.mid{
    width: 100%;
    min-height: 400px;
    display: inline-block;
}

.midBox{
    display: inline-block;
    width: 270px;
    min-height: 200px;
    margin-left: 5px;
    padding: 16px;
}

.appPic{
    width: 286px;
    height: 150px;
}

.footer{
    width: 100%;
    width: 980px;
    min-height: 100px;
}